:root {
    --color-primary: #2ea3f2;
    /* --color-secundary: #; */
    --color-text: #666;
    --font-main: Roboto-bold;
    --font-text: Roboto-regular;
    
}

/* Main settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
}

/* End main settings */ 

/*Layouts settings */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--color-primary);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;

    }

nav ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-main);
}

nav  ul li a:hover {
    color: var(--color-text);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: flex-start;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    border:  1px solid var(--color-text);
    width: 50vw;
    list-style-type: none;
}

.list li{
    display: flex;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--color-text);
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.btn-detail {
    background-color: var(--color-primary);
    color: white;
}

.btn-detail:hover {
    background-color: white;
    color: var(--color-primary);
}

.btn-edit {
    background-color: rgb(217, 217, 16);
    color: white;

}

.btn-edit:hover {
    background-color: white;
    color: rgb(217, 217, 16);
}

.btn-delete {
    background-color: firebrick;
    color: white;

}

.btn-delete:hover {
    background-color: white;
    color: firebrick;
}

.search {
    margin: 20px;
    width: 50%;
}

.search-bar {
    padding: 5px;
    width: 80%;
}

.search-btn {
    width: 19%;
    background-color: var(--color-primary);
    color: white;
    outline: none;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}

.search-btn:hover{
    background-color: white;
    color: var(--color-primary);
}

.aux-btn {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.aux-btn a {
    padding-right: 10px;
    text-decoration: none;
}

.alert-success {
    width: 100%;
    padding: 10px;
    background-color: rgb(50, 221, 164);
    color: white;
}
/*End Layouts settings */

/* Index settings */

.cards{
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    background-color: var(--color-primary);
    text-decoration: none;
}

.card:hover {
    background-color: var(--color-text);
}
/* End Index settings */