{% extends "layout/base.html" %}

{% block 'title' %} Contacto || {{ contact.name }} {% endblock %}

{% block 'content' %}
<span class="aux-btn"><a href="{% url 'contact' %}">Volver atrás</a></span>
<ul class="list">
    <li><b>Nombre: </b>{{ contact.name }}</li> 
    <li><b>Apellido: </b>{{ contact.last_name }}</li> 
    <li><b>Telefono: </b>{{ contact.phone }}</li> 
    <li><b>Movil: </b>{{ contact.mobile }}</li> 
    <li><b>Email: </b>{{ contact.email }}</li> 
    <li><b>Compañia: </b>{{ contact.company }}</li> 
    <li><b>Fecha de creacion: </b>{{ contact.date }}</li> 
    <li><b>Notas: </b>{{ contact.notes }}</li> 
</ul>
{% endblock  %}